
@font-face {
    font-family: 'Monster_Hunter_Font';
    src: url('../font/Monster_hunter.ttf');
    font-family: 'Hexenkotel_Font';
    src: url('../font/Hexenkotel.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'exocet-light', sans-serif;
}

.container {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#Lagiacrus {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pc_data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pc_data h1 {
    font-family: 'Monster_Hunter_Font';
    font-size: 10vw; 
    text-transform: uppercase;
    color: white;
}

.pc_data p {
    font-family: 'Hexenkotel';
    margin: 0;
    font-size: 18.75vw; /* 120 */
    color: white;
}

